code/.browserslistrc
code/.eslintignore
code/.eslintrc.json
code/.gitignore
code/.prettierignore
code/.prettierrc.json
code/build-config.js
code/CHANGELOG.md
code/documentation.html
code/gulpfile.js
code/index.html
code/LICENSE.md
code/package-lock.json
code/package.json
code/README.md
code/webpack.config.js
code/yarn.lock
code/.github/workflows/handle-new-issue-comment.yml
code/.github/workflows/handle-new-issue.yml
code/.github/workflows/issue-staler.yml
code/assets/img/avatars/1.png
code/assets/img/avatars/5.png
code/assets/img/avatars/6.png
code/assets/img/avatars/7.png
code/assets/img/backgrounds/18.jpg
code/assets/img/elements/1.jpg
code/assets/img/elements/2.jpg
code/assets/img/elements/3.jpg
code/assets/img/elements/4.jpg
code/assets/img/elements/5.jpg
code/assets/img/elements/7.jpg
code/assets/img/elements/11.jpg
code/assets/img/elements/12.jpg
code/assets/img/elements/13.jpg
code/assets/img/elements/17.jpg
code/assets/img/elements/18.jpg
code/assets/img/elements/19.jpg
code/assets/img/elements/20.jpg
code/assets/img/favicon/favicon.ico
code/assets/img/icons/brands/asana.png
code/assets/img/icons/brands/behance.png
code/assets/img/icons/brands/dribbble.png
code/assets/img/icons/brands/facebook.png
code/assets/img/icons/brands/github.png
code/assets/img/icons/brands/google.png
code/assets/img/icons/brands/instagram.png
code/assets/img/icons/brands/mailchimp.png
code/assets/img/icons/brands/slack.png
code/assets/img/icons/brands/twitter.png
code/assets/img/icons/unicons/cc-primary.png
code/assets/img/icons/unicons/cc-success.png
code/assets/img/icons/unicons/cc-warning.png
code/assets/img/icons/unicons/chart-success.png
code/assets/img/icons/unicons/chart.png
code/assets/img/icons/unicons/paypal.png
code/assets/img/icons/unicons/wallet-info.png
code/assets/img/icons/unicons/wallet.png
code/assets/img/illustrations/girl-doing-yoga-light.png
code/assets/img/illustrations/man-with-laptop-light.png
code/assets/img/illustrations/page-misc-error-light.png
code/assets/img/layouts/layout-container-light.png
code/assets/img/layouts/layout-fluid-light.png
code/assets/img/layouts/layout-without-menu-light.png
code/assets/img/layouts/layout-without-navbar-light.png
code/fonts/boxicons.scss
code/html/auth-forgot-password-basic.html
code/html/auth-login-basic.html
code/html/auth-register-basic.html
code/html/cards-basic.html
code/html/extended-ui-perfect-scrollbar.html
code/html/extended-ui-text-divider.html
code/html/form-layouts-horizontal.html
code/html/form-layouts-vertical.html
code/html/forms-basic-inputs.html
code/html/forms-input-groups.html
code/html/icons-boxicons.html
code/html/index.html
code/html/layouts-blank.html
code/html/layouts-container.html
code/html/layouts-fluid.html
code/html/layouts-without-menu.html
code/html/layouts-without-navbar.html
code/html/pages-account-settings-account.html
code/html/pages-account-settings-connections.html
code/html/pages-account-settings-notifications.html
code/html/pages-misc-error.html
code/html/pages-misc-under-maintenance.html
code/html/tables-basic.html
code/html/ui-accordion.html
code/html/ui-alerts.html
code/html/ui-badges.html
code/html/ui-buttons.html
code/html/ui-carousel.html
code/html/ui-collapse.html
code/html/ui-dropdowns.html
code/html/ui-footer.html
code/html/ui-list-groups.html
code/html/ui-modals.html
code/html/ui-navbar.html
code/html/ui-offcanvas.html
code/html/ui-pagination-breadcrumbs.html
code/html/ui-progress.html
code/html/ui-spinners.html
code/html/ui-tabs-pills.html
code/html/ui-toasts.html
code/html/ui-tooltips-popovers.html
code/html/ui-typography.html
code/js/bootstrap.js
code/js/helpers.js
code/js/menu.js
code/libs/apex-charts/apex-charts.scss
code/libs/apex-charts/apexcharts.js
code/libs/highlight/highlight-github.scss
code/libs/highlight/highlight.js
code/libs/highlight/highlight.scss
code/libs/jquery/jquery.js
code/libs/masonry/masonry.js
code/libs/perfect-scrollbar/perfect-scrollbar.js
code/libs/perfect-scrollbar/perfect-scrollbar.scss
code/libs/popper/popper.js
code/scss/_bootstrap-extended.scss
code/scss/_bootstrap.scss
code/scss/_colors.scss
code/scss/_components.scss
code/scss/core.scss
code/scss/theme-default.scss
code/scss/_bootstrap-extended/_accordion.scss
code/scss/_bootstrap-extended/_alert.scss
code/scss/_bootstrap-extended/_badge.scss
code/scss/_bootstrap-extended/_breadcrumb.scss
code/scss/_bootstrap-extended/_button-group.scss
code/scss/_bootstrap-extended/_buttons.scss
code/scss/_bootstrap-extended/_card.scss
code/scss/_bootstrap-extended/_carousel.scss
code/scss/_bootstrap-extended/_close.scss
code/scss/_bootstrap-extended/_dropdown.scss
code/scss/_bootstrap-extended/_forms.scss
code/scss/_bootstrap-extended/_functions.scss
code/scss/_bootstrap-extended/_include.scss
code/scss/_bootstrap-extended/_list-group.scss
code/scss/_bootstrap-extended/_mixins.scss
code/scss/_bootstrap-extended/_modal.scss
code/scss/_bootstrap-extended/_nav.scss
code/scss/_bootstrap-extended/_navbar.scss
code/scss/_bootstrap-extended/_offcanvas.scss
code/scss/_bootstrap-extended/_pagination.scss
code/scss/_bootstrap-extended/_popover.scss
code/scss/_bootstrap-extended/_progress.scss
code/scss/_bootstrap-extended/_reboot.scss
code/scss/_bootstrap-extended/_root.scss
code/scss/_bootstrap-extended/_spinners.scss
code/scss/_bootstrap-extended/_tables.scss
code/scss/_bootstrap-extended/_toasts.scss
code/scss/_bootstrap-extended/_tooltip.scss
code/scss/_bootstrap-extended/_type.scss
code/scss/_bootstrap-extended/_utilities-ltr.scss
code/scss/_bootstrap-extended/_utilities.scss
code/scss/_bootstrap-extended/_variables.scss
code/scss/_bootstrap-extended/forms/_floating-labels.scss
code/scss/_bootstrap-extended/forms/_form-control.scss
code/scss/_bootstrap-extended/forms/_form-range.scss
code/scss/_bootstrap-extended/forms/_form-select.scss
code/scss/_bootstrap-extended/forms/_input-group.scss
code/scss/_bootstrap-extended/forms/_labels.scss
code/scss/_bootstrap-extended/forms/_validation.scss
code/scss/_bootstrap-extended/mixins/_alert.scss
code/scss/_bootstrap-extended/mixins/_badge.scss
code/scss/_bootstrap-extended/mixins/_buttons.scss
code/scss/_bootstrap-extended/mixins/_caret.scss
code/scss/_bootstrap-extended/mixins/_dropdown.scss
code/scss/_bootstrap-extended/mixins/_forms.scss
code/scss/_bootstrap-extended/mixins/_list-group.scss
code/scss/_bootstrap-extended/mixins/_misc.scss
code/scss/_bootstrap-extended/mixins/_navs.scss
code/scss/_bootstrap-extended/mixins/_pagination.scss
code/scss/_bootstrap-extended/mixins/_progress.scss
code/scss/_bootstrap-extended/mixins/_table-variants.scss
code/scss/_bootstrap-extended/mixins/_toasts.scss
code/scss/_components/_app-brand.scss
code/scss/_components/_avatar.scss
code/scss/_components/_base.scss
code/scss/_components/_common.scss
code/scss/_components/_footer.scss
code/scss/_components/_include.scss
code/scss/_components/_layout.scss
code/scss/_components/_menu.scss
code/scss/_components/_mixins.scss
code/scss/_components/_text-divider.scss
code/scss/_components/_variables.scss
code/scss/_components/mixins/_app-brand.scss
code/scss/_components/mixins/_avatar.scss
code/scss/_components/mixins/_footer.scss
code/scss/_components/mixins/_menu.scss
code/scss/_components/mixins/_misc.scss
code/scss/_components/mixins/_navbar.scss
code/scss/_components/mixins/_text-divider.scss
code/scss/_custom-variables/_bootstrap-extended.scss
code/scss/_custom-variables/_components.scss
code/scss/_custom-variables/_libs.scss
code/scss/_custom-variables/_pages.scss
code/scss/_custom-variables/_support.scss
code/scss/_theme/_common.scss
code/scss/_theme/_theme.scss
code/scss/pages/page-account-settings.scss
code/scss/pages/page-auth.scss
code/scss/pages/page-icons.scss
code/scss/pages/page-misc.scss
code/tasks/build.js
code/tasks/prod.js
